<app-nav></app-nav>
<div class="container mt-5 col-5 fondo">
<h1>Crear servicio</h1>
    <form [formGroup]= "StecnicoForm" (ngSubmit)="agregar()">
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">ID</label>
          <input type="text" formControlName="id" placeholder= "Ingrese el ID del servicio" class="form-control">       
            </div>    
       
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Nombre del servicio</label>
          <input type="text" formControlName="nombre" placeholder= "Ingrese el nombre del servicio" class="form-control">
        </div>
        <div class="text-center">
          <button class="btn-success btn">Guardar</button>
      </div>
      </form>  
  </div>
